.container { 
  display: flex; 
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vh;
  margin: auto;
  border: 1px solid rgb(213, 213, 213);
}

.board {
  width: 100%;
  aspect-ratio: 1 / 1; 
  border: 1px solid rgb(0, 0, 0);
  margin: 0 auto;
}

.board:after {
  content: "";
  display: block;
}

.turn {
  display: flex;
  justify-content: center;
  align-items: center;   
}

.rectangle {
  position: relative;
  width: 85%;
  height: 25%;
  border: 2px solid rgb(213, 213, 213);
  top: 50%;
  left: 8%;
}

.line1, .line2, .line3, .line4, .line5, .line6 {
  position: relative;
  border-bottom: 2px solid rgb(213, 213, 213);
  width: 90%;
}

.line1 {
  left: 27.5%;
  top: 55%;
  transform: rotate(60deg);
  transform-origin: center;
}

.line2 {
  top: 93.8%;
  left: 5%;
  transform: rotate(300deg);
  transform-origin: left;
}

.line3 {
  top: 93.3%;
  left: 5%;
  width: 90%;
}

.line6 {
  top: 63%;
  left: 8%;
  width: 85%;
}

.line4 {
  top: 15%;
  left: 50%;
  transform: rotate(80deg);
  transform-origin: left;
  width: 79.3%;
}

.line5 {
  top: 15%;
  left: 50%;
  transform: rotate(100deg);
  transform-origin: left;
  width: 79.1%;
}

.button {
  position: relative;
  height: 5vh;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: rgb(213, 213, 213);
  border: 2px solid rgb(118, 118, 118);
  font-size: 3vh;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgb(237, 52, 52);
}

.button:hover {
  transform: scale(1.05);
}

button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

.button-container {
  position: relative;
  top: -23%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  position: relative;
  display: flex;
}

.button2 {
  padding: 10px 24px;
  border-radius: 8px;
  color: white;
  border: 2px solid white;
  width: 25%;
}
